.bash_history
newsboat/.newsboat/cache.db
nvim/.config/nvim/plugged/

xmonad/.xmonad/build-x86_64-linux/Main.hi
xmonad/.xmonad/build-x86_64-linux/Main.o
xmonad/.xmonad/xmonad-x86_64-linux
xmonad.hi
xmonad.errors
build-x86_64-linux

